@font-face {font-family: Travellers; src: url("travellers.ttf");}
@font-face {font-family: BrushedTraveler; src: url("brushedtraveler.ttf");}
@font-face {font-family: Basic; src: url("basictitlefont.ttf");}

#header {
	height:45px;
	width: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.6);
	vertical-align: middle;
	z-index: 2;
}

#hdrTitle {
	font-family: Travellers;
	font-size: 22px;
	color: white;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}

#srchBar {
	width: 350px;
	height: 20px;
	margin-left: 25px;
	display: inline-block;
	border-radius: 2px;
	padding-left: 10px;
	font-family: "Century Gothic", sans-serif;
	border:none;
}

#srchBtn {
	height:23px;
	margin-left:10px;
	border-radius: 5px;
	background-color: rgba(255,255,255, 0.4);
	border: none;
	font-family: "Century Gothic", sans-serif;
	font-size:15px;
}

#linkBar {
	display: inline-block;
	margin-left: 300px;
}

a {
	color: white;
	text-decoration: none;
	margin-right: 10px;
	font-family: "Century Gothic", sans-serif;
}

#homeLink:hover, #mapLink:hover, #logoutLink:hover {
	border-bottom: 1px solid white;
}

#quickMenu{
	position:fixed;
	bottom:0;
	display: flex;
	width: 50%;
	z-index: 2;
}

#profilePic {
	height:100px;
	width:130px;
	float: left;
}

#slider{
	height:67px;
	background-color: rgba(211,211,211,0.6);
	width:25px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding-top: 33.5px;
	font-family: "Century Gothic", sans-serif;
	font-size:20px;
	color: rgb(190,190,190);
}

.slideNav {
	width:0;
    z-index: 2;
    height: 100px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 12px;
}

.slideNav a {
	display: block;
	text-align: center;
}

#leftSide {
	height: 900px;
	width: 90%;
	display: inline-block;
	float: left;
}

#rightSide {
	height: 900px;
	width: 9%;
	background-color: rgba(255,0,0,0.3);
	display: inline-block;
	float: right;
}

#pageBanner {
	display: inline-block;
	margin-top: 50px;
	margin-left: 50px;
}

#pictures {
	width:75%;
	height: 150px;
	background-color: rgba(250, 242, 195, 0.7);
	margin-left: 125px;
	border-radius: 5px;
}

#entries {
	width:75%;
	height: 150px;
	background-color: rgba(250, 242, 195, 0.7);
	margin-left: 125px;
	border-radius: 5px;
	margin-top: 50px;
}

#recommendations {
	width:75%;
	height: 150px;
	background-color: rgba(250, 242, 195, 0.7);
	margin-left: 125px;
	border-radius: 5px;
	margin-top: 50px;
}

.itemBlock {
	padding-left: 125px;
	margin-top: -40px;
}

.itemBlock img {
	height: 125px;
	width: 100px;
}

.itemBlock .pics {
	display: inline-block;
}

.itemBlock .pics:hover {
	opacity:0.5;
	cursor: pointer;
}

.itemBlock .pics p{
	font-family: Century Gothic;
	font-size: 12px;
	margin-left: 12px;
	margin-top:-20px;
}

#entries .itemBlock img {
	height: 100px;
	width: 100px;
}

#entries .itemBlock .pics p{
	margin-top: 0px;
}

#entries .itemBlock .pics{
	margin-top: 10px;
}

#recommendations .itemBlock img {
	height: 80px;
	width: 80px;
}

#recommendations .itemBlock .pics p{
	margin-top: 0px;
}

#recommendations .itemBlock .pics{
	margin-top: 10px;
}